FirebrandService/C1.ClientUsingWsdl/Service References/CalcServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Firebrand" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Firebrand" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:801/Calc/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AddFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorLevel" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stuff" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFault" nillable="true" type="tns:AddFault" />
  <xs:complexType name="Numbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="xs:double" />
      <xs:element minOccurs="0" name="B" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Numbers" nillable="true" type="tns:Numbers" />
</xs:schema>