FirebrandService/C3.ClientUsingDuplex/Service References/DuplexServiceReference/duplex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49770/duplex.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Firebrand" />
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Firebrand" minOccurs="0" name="n" nillable="true" type="q1:Numbers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answer" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>