FirebrandService/C3.ClientUsingDuplex/Service References/DuplexServiceReference/duplex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Firebrand" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Firebrand" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Numbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="xs:double" />
      <xs:element minOccurs="0" name="B" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Numbers" nillable="true" type="tns:Numbers" />
</xs:schema>